:host {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url('../../../../../assets/6704338131eac5f8ab62a23153e5d5c8712393b1.jpg');
	display: block;
	background-size: cover;
	overflow: hidden;
}

.row {
	height: 100%;
}
