<div
	class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3 d-flex justify-content-center"
>
	<app-card
		[title]="'Profile'"
		[alt]="user?.username || ''"
		[hasImage]="false"
		[src]="user?.avatar || ''"
		class="col text-center"
		[heightImage]="'auto'"
	>
		<div other class="d-flex align-items-center">
			<app-avatar
				[alt]="user?.username || ''"
				[image]="user?.avatar || '/assets/profileDefault.png'"
				class="me-3"
			></app-avatar>
			<app-subtitle
				[size]="'1.2rem'"
				class="text-start"
				[label]="user?.username || '' | titlecase"
			></app-subtitle>
		</div>
		<div class="mt-2 d-flex text-start mt-4">
			<app-icon
				type="fa-solid"
				class="me-2"
				iconClass="fa-sack-dollar fs-5"
                color="#85bb65"
			></app-icon>
			<app-text
				[classText]="'fw-bold fs-5'"
				[text]="'$' + user?.balance || ''"
			></app-text>
		</div>
		<div class="col-12 mt-auto p-3 bd-highlight">
			<app-button-icon
				type="fa-solid"
				iconClass="fa-money-check-dollar"
				placeholder="Recharge"
                (clickEvent)="recharge()"
			></app-button-icon>
		</div>
	</app-card>
</div>
