.home {
	background-image: url('../../../../../assets/bg-3.jpeg');

	width: 100%;
	height: auto;
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
