/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&family=Roboto:wght@100;300;400&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Mono', monosp;
}
button,
i {
	cursor: pointer;
}

 /* width */
 ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.container {
	max-width: 1700px;
}

.card {
	clip-path: polygon(0 0, 100% 0, 100% 90%, 94% 100%, 25% 100%, 0 100%);


}

.swal2-container, .swal2-center {
	z-index: 5000000 !important;
  }

$primary-color: rgb(185 28 28);
$light-color: #fff;
